body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.navbar-light a.navbar-brand{
    color: white;
}
.navbar-brand {
    margin-right: 20px;
    margin-left: 20px;
    color: white;
}

.

button.navbar-toggler{
    
    margin-right:20px;
}
#navToggleTagId{
    color:white;
}

#greenButton {
    background-color: background-color: rgb(0, 205, 102);
    color: white;
    margin-right: 20px;
}
span.navbar-toggler-icon {
    color: white;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.nav-item:hover {
    background: rgb(0, 255, 127);
    color: white;
}
#navColor:hover{
    color:black;
}
.nav-link:hover {
    color:black;
    width: 100%;
}
.navbar-nav .nav-item .nav-link {
    color: white;
}
.navbar-nav .nav-item .nav-link:hover {
    color: black;
}



.nav-item {
    padding-left: 20px;
    
}
.nav-item:hover{
    color:black;
}
.navbar fixed-top navbar-light{
    margin:0px;
    border:0px;
    padding:0;
}
.form-group div.error {
    color: red;
}
