body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.nav-item:hover {
    background: rgb(0, 255, 127);
    color: white;
}
.nav-link:hover {
    background: rgb(0, 255, 127);
    width: 100%;
}
.navbar-nav .nav-item .nav-link {
    color: white;
}
.nav-link {
    
    width:100%;
}
.navbar fixed-top navbar-light{
    margin:0px;
    border:0px;
    padding:0;
}
.form-group div.error {
    color: red;
}
