@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Shuffleboard    </h1>
    <p class="lead">This app was built using .NET with an Azure backend database. The app keeps track of the Shuffleboard play at the Wipro Plano Office.</p>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>How to play</h2>
        <p>
            A game of shuffleboard consists of alternating puck throws between players with the furthest pucks counting as points. 
        </p>
        <p><a class="btn btn-default" href="https://www.ventureshuffleboard.com/play-shuffleboard/">How to play &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Cool Trick Shots</h2>
        <iframe width="340" height="250" src="https://www.youtube.com/embed/BlfFKVGQbi8" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
    <div class="col-md-4">
        <h2>Authors</h2>
        <p>This app was built and implemented by Kaushik Mandiga & Logan Watkins with contributions by Harshil Patel & Brian Nyugen.</p>
        <p><a class="btn btn-default" href="https://github.com/kmandiga/ShuffleboardApplication">Git Link &raquo;</a></p>
    </div>
</div>