<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/40b4a233-74cb-4eff-ad35-a2e76340dfd2/resourcegroups/cloud-shell-storage-southcentralus/providers/Microsoft.Web/sites/ShuffleboardApplication20180808035444</ResourceId>
    <ResourceGroup>cloud-shell-storage-southcentralus</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://shuffleboardapplication20180808035444.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>shuffleboardapplication20180808035444.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>ShuffleboardApplication20180808035444</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$ShuffleboardApplication20180808035444</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="MyDBConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:shuffleboard.database.windows.net,1433;Initial Catalog=ShuffleboardDB;Persist Security Info=False;User ID=sqladmin;Password=WiproOnAir9;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Data Source=tcp:shuffleboard.database.windows.net,1433;Initial Catalog=ShuffleboardDB;Persist Security Info=False;User ID=sqladmin;Password=WiproOnAir9;MultipleActiveResultSets=False;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="ShuffleboardApplication.Models.MyDBContext, ShuffleboardApplication" MigrationConfiguration="ShuffleboardApplication.Migrations.Configuration, ShuffleboardApplication" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="MyDBConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:shuffleboard.database.windows.net,1433;Initial Catalog=ShuffleboardDB;Persist Security Info=False;User ID=sqladmin;Password=WiproOnAir9;MultipleActiveResultSets=False;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>